importFrom("grDevices", "adjustcolor", "colorRampPalette")
importFrom("graphics", "image", "mtext", "par", "rect")
importFrom("methods", "is")
importFrom("stats", "integrate", "pchisq", "predict", "qchisq", "rbeta", "runif", "uniroot")
export(klDiv)
export(betaDiv)
export(findA)
export(rBetaH4)
export(rBetaH3)
export(estimatePc)
export(estimatePrb)
export(estimateQ)
export(chiPool)
export(chiPc)
export(chiPr)
export(chiQ)
export(chiKappa)
export(hrStat)
export(hrPool)
export(hrPc)
export(hrPr)
export(hrQ)
export(altFrequencyMat)
export(marHistHeatMap)
export(satterChiPool)
export(satterApproxP)
export(convertGeneticSigma)
